// se le da estilo al header que se utilizara en toda las paginas
header {
  grid-area: header;
  grid-column: 1/ 5;
  height: 166px;
}

@media (max-width: 960px) {
  header {
    height: 166px;
  }
}
