//se da llos estilos al nav que se utiliza en todas las paginas
nav {
  text-align: center;

  .isjonnylogo {
    height: 150px;
    width: 150px;
    margin-top: 5px;
    display: flex;
    justify-items: left;
  }

  .nav-item {
    a {
      font-style: none;
      font-size: 20px;
      color: $colorBlanco;
    }
  }
}
