@import"./mixin";
@import "./variables";
@import "./body";
@import "./header";
@import "./nav";
@import "./main";
@import "./carrusel";
@import "./footer";
@import "./pages/nosotros";
@import "./pages/contacto";
@import "./pages/talles";
@import "./pages/productos.scss";
