// se da estilo a la pagina nosotros.
#nosotros {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "t-0 t-0 t-0 t-0"
    "n-1 n-1 n-2 n-2"
    "n-3 n-3 n-4 n-4"
    "n-5 n-5 n-6 n-6";

  grid-row-gap: $Pixel;
  grid-column-gap: $Pixel;
  @include gradiente-roja;
  padding: $Pixel;

  section {
    border-radius: 3%;
    @include gradiente-gris;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }

  h3,
  p {
    font-family: "Noto Sans Mono", monospace;
    font-family: "Roboto", sans-serif;
    font-family: "Saira Condensed", sans-serif;

    font-size: $Pixel;
    color: $colorBlanco;
    text-align: justify;
    padding: 15px;
  }

  .fondo {
    grid-area: t-0;
    img {
      width: $medida;
    }
  }

  .nosotros_h1 {
    grid-area: n-1;
  }
  .nosotros_h2 {
    grid-area: n-2;
    img {
      width: $medida;
      height: $medida;
    }
  }
}
.nosotros_h3 {
  grid-area: n-3;
  video {
    width: $medida;
  }
}
.nosotros_h4 {
  grid-area: n-4;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}
.nosotros_h5 {
  grid-area: n-5;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}
.nosotros_h6 {
  grid-area: n-6;

  img {
    width: $medida;
    height: auto;
  }
}
@media screen and (max-width: 1300px) {
  #nosotros {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "t-0 t-0 t-0 t-0"
      "n-1 n-1 n-4 n-4"
      "n-3 n-3 n-3 n-3"
      "n-5 n-5 n-5 n-5"
      "n-2 n-2 n-6 n-6";
    h3,
    p {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 800px) {
  #nosotros {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      "t-0 t-0 t-0 t-0"
      "n-1 n-1 n-1 n-1"
      "n-4 n-4 n-4 n-4"
      "n-3 n-3 n-3 n-3"
      "n-2 n-2 n-2 n-2"
      "n-5 n-5 n-5 n-5"
      "n-6 n-6 n-6 n-6";
  }
}
