// se da estilo a la pagina productos.
#productos {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "t-0 t-0 t-0 t-0"
    "h1 h1 h1 h1"
    "h2 h2 h2 h2"
    "h3 h3 h3 h3"
    "h4 h4 h4 h4";
    @include gradiente-gris;
  section {
    padding: $Pixel;
    h1 {
      background-color: $colorNegro;
      padding: 30px;
      color: $colorBlanco;
      text-align: center;
    }
  }
  section:first-child {
    padding: 0;
  }
  .fondo {
    grid-area: t-0;
    img {
      width: $medida;
    }
  }
  .productosItem1 {
    grid-area: h1;
  }
  .productosItem2 {
    grid-area: h2;
  }
  .productosItem3 {
    grid-area: h3;
  }
  .productosItem4 {
    grid-area: h4;
  }
}
